:root {
  --card-bgc: rgb(26, 26, 26);
  /* --card-bgc: rgb(40, 40, 40); */

  --lite-text: #d8d8d8;
  /* --lite-text: #333; */

  --bgc-color: black;
  --color-text: #ddd;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  flex-direction: column;
  position: relative;
  background-color: var(--bgc-color);
  color: var(--color-text);
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.line_l {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.line_l > span {
  width: 90%;
  height: 1px;
  background-color: #2f2e2e3c;
}

/* navbar style*/
nav {
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}

.nav2 {
  position: fixed;
}

.andown {
  transition: all 0.3s ease;
  animation: moveAndScale 1s ease-out;
  top: 0;
}

.anup {
  transition: all 0.3s ease;
  animation: navup 1s ease-out;
  top: -100px;
}

/* ! skill */

#skills > h2 {
  font-size: 2.5rem;
}

#skills > p {
  font-size: 1.2rem;
}

#skills > h3 {
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff; /*? dont change */
  font-weight: bolder;
  border-top: 1px solid rgba(48, 16, 231, 0.265);
  font-variant-caps: small-caps;
  text-shadow: 0 0 10px rgb(26, 28, 28), 0 0 20px aqua, 0 0 40px rgb(58, 62, 62),
    0 0 80px aqua, 0 0 160px aqua;
}

.Programming_language {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.language {
  display: flex;
  position: relative;
  background-color: var(--bgc-color);
  max-width: 250px;
  max-height: 250px;
  width: 32%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.679), 0 0 10px rgba(255, 255, 255, 0.732);
}

.language > span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.799);
}

.language > span > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: var(--bgc-color);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  cursor: default;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.833);
}

.data_html {
  background: conic-gradient(#7f56da 0% 80%, #969696c7 80% 100%);
}

.data_css {
  background: conic-gradient(#40baf3 0% 70%, #969696c1 70% 100%);
}

.data_javascript {
  background: conic-gradient(#ef4de7 0% 75%, #969696b0 75% 100%);
}

.data_nodejs {
  background: conic-gradient(#7f56da 0% 60%, #969696c1 60% 100%);
}
.data_mongodb {
  background: conic-gradient(#ef4de7 0% 70%, #969696c1 70% 100%);
}

@keyframes moveAndScale {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes navup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
  background-color: #333;
  color: white;
}

.togle_button {
  margin: 1rem;
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.togle_button > span {
  display: block;
  background-color: #fff;
  border-radius: 2px;
  width: 25px;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.line_a {
  transform: rotate(35deg);
  transform-origin: left;
}

.line_c {
  transform: rotate(-35deg);
  transform-origin: left;
}

.line_b {
  opacity: 0;
}

.menu_togale {
  position: fixed;
  right: -220px;
  top: 3.7rem;
  background-color: #333;
  padding: 5px;
  z-index: 2;
  transition: all 0.2s ease;
}
/* .menu_show {
  right: 0px;
}
.menu_show_none {
  right: -220px;
} */
.menu_togale > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu_togale > ul > li {
  &:hover {
    background-color: #333;
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #00bcd4;
  text-decoration: underline;
}

.navbar .logo {
  margin-left: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
}
/* Section Styles */
section {
  margin: 2rem auto;
  width: 100%;
}

section h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--lite-text);
}

section p {
  text-align: center;
  line-height: 1.6;
  /* color: var(--dark-text); */
  opacity: 0.8;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  position: relative;
}

footer a {
  color: #00bcd4;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer a:hover {
  text-decoration: underline;
}

footer .social-icons {
  margin-top: 0.5rem;
}

footer .social-icons a {
  margin: 0 0.5rem;
}

a {
  color: inherit; /* Isse anchor tag apne parent element `ka color inherit karega */
  text-decoration: none;
}

main {
  width: 100%;
  position: relative;
  /* background-color: gray; */
}

/* profile  */

.profile_images_k {
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.image_b {
  width: 30%;
  display: flex;
  gap: 10px;
}
.image_b > span {
  width: 33%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}
.image_b > span > .title {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2rem;
  height: 15%;
  align-items: center;
  overflow: hidden;
  color: white;
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan;
  opacity: 0;

  transition: all 0.3s ease;
}

.title_a,
.title_c {
  justify-content: flex-end;
}

.image_b > span > .image_s {
  /* position: absolute; */
  width: 100%;
  height: 80%;
  aspect-ratio: 1/2;
  /* object-fit: cover; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.333);
  transition: all 0.3s ease;
}

.image_b > span > .image_s > img {
  /* height: 100%; */
  transition: all 0.3s ease;
}

.image_b > span:hover {
  width: 90%;
  .title {
    opacity: 1;
  }
}

.profile-card {
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 40%;
  display: flex;
  background-color: var(--card-bgc);
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
}

.profile-card > img {
  aspect-ratio: 1/1;
  width: 100%;
}

.name {
  font-size: 1.5rem;
  margin: 10px 0;
}

.bio {
  font-size: 1.2rem;
  color: inherit;
  opacity: 0.8;
}

/* projects */

#projects > h2 {
  font-size: 3rem;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--card-bgc);
  /* opacity: 0.8; */
}

.desc > p {
  opacity: 0.8;
  line-height: 1;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.desc > span {
  font-weight: 600;
  opacity: 0.9;
  /* color: #373838; */
}

.desc > ul {
  margin-left: 2rem;
  opacity: 0.8;
  /* color: #3d3d3d; */
}

#projects > p {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects > .project {
  display: flex;
  align-items: flex-start;
}
.project > .description {
  margin-left: 1rem;
  margin-right: 1rem;
}

.project > .description > h3 {
  margin: 10px 0 10px 10px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}
.project > .description > div {
  font-size: 1.2rem;
  text-align: left;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.project > .description > span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
  cursor: pointer;
  color: #00bcd4;
  transition: all 0.2s ease;
}

.desc {
  display: flex;
  flex-direction: column;
}

.project > .description > .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0 0;
  gap: 20px;
}
.description > .buttons > a > button {
  padding: 7px;
  border-radius: 7px;
  border: none;
  color: #293435;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: #84808092;
  }
}

.project > .image,
.image_destop {
  width: 44%;
  display: flex;
  gap: 10px;
}

.image_mobile {
  display: none;
  gap: 10px;
}

.project > .image > span,
.image_destop > span,
.image_mobile > span {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 2rem;
  cursor: pointer;
}
.project > .image > span > img,
.image_destop > span > img,
.image_mobile > span > img {
  /* aspect-ratio: 1/1; */
  max-height: 400px;
  object-fit: cover;
}

.project > .image > span:hover {
  width: 100%;
}
.image_destop > span:hover {
  width: 100%;
}

/* ! contact */

#contactcontact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contactcontact > h2 {
  font-size: 2.5rem;
}

/* socal_media */

.socal_media {
  display: flex;
  font-size: 1.7rem;
  gap: 2rem;
  color: inherit;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.socal_media > a {
  color: inherit;
  transition: all 0.1s ease-in-out;
}

.socal_media > a:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(68, 39, 234, 0.829);
}

#contactcontact > p {
  font-size: 1.5rem;
}
#contactcontact > p > a {
  color: #007bff;
  cursor: pointer;
}
.contact-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 0 6px rgba(255, 255, 255, 0.1);
  width: 88%;
  max-width: 400px;
  transition: all 0.3s ease;
}
.contact-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0.9;
}
.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: inherit;
  opacity: 0.8;
}
.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
  opacity: 0.9;

  &:focus {
    outline: none;
  }
}
.contact-form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
.contact-form button:hover {
  background: #0056b3;
}
/* ! about */

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about > h2 {
  font-size: 2.5rem;
}
#about > p {
  font-size: 1.2rem;
  margin: 10px;
}

.resum {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resum > a {
  display: flex;
  padding: 5px;
  border: 1px solid var(--color-text);
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  &:hover {
    background-color: var(--card-bgc);
    color: var(--color-text);
  }
}

/* ! rating */

.rating-container {
  display: none;
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.rating {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 10px;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #b4b0b0d6;
  transition: all 0.3s ease;
}
.star_group {
  display: flex;
  font-size: 3rem;
  gap: 10px;
}

.stars {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
  /* margin-bottom: 20px; */
}

.stars button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  color: #d3d3d3;
  transition: color 0.3s;
}

.stars button.active,
.stars button.active ~ button,
.stars button:hover,
.stars button:hover ~ button {
  color: #ffd700;
}

.rating-value {
  font-size: 1.2rem;
  color: #555;
}

.submit-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.rating > span {
  position: absolute;
  color: #272b2bc4;
  top: 4px;
  right: 7px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ! show image box  */

.show_image_box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-bgc);
  border-radius: 1rem;
  max-width: 90%;
  width: 80%;
  max-height: 80vh;
  height: 80vh;
  z-index: 3;
  transition: all 0.3s ease;
}
.show_image_box > img {
  /* aspect-ratio: 3/1; */
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.closeButton_img {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 1.3rem;
  cursor: pointer;
}

@media (max-width: 700px) {
  .profile-card {
    width: 80%;
  }
  .togle_button {
    display: flex;
  }
  .menu {
    display: none;
  }
  .image_b {
    display: none;
  }
  .project {
    flex-direction: column;
  }
  .image_mobile {
    display: flex;
  }
  .project > .image,
  .image_mobile {
    width: 100%;
    overflow: auto;
  }
  .project > .image > span,
  .image_mobile > span {
    width: auto;
    overflow: initial;
  }
  .image_mobile > span > img {
    width: fit-content;
    display: none;
  }
  .project > .image > span:hover {
    width: unset;
  }
  .image_destop > span:hover {
    width: unset;
  }

  .image_destop {
    display: none;
  }
  .language > span > span {
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
}
